body, html {
    margin: 0;
    padding: 0;
} /*Quita los espacios inecesarios*/


.header {
    background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(28,28,28,1) 72%, rgba(102,102,102,1) 84%, rgba(255,255,255,1) 100%);
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
} /*Da el diseño de la parte de arriba, del menú y logo*/


.logo-container {
    display: flex;
    align-items:flex-end;
    padding-left: 10%;
} /*Da el diseño del contenedor del logo*/
.logo {
    height: 80px;
}
/* Se modifica el contenedor y la forma del logo*/


ul {
    padding-left: 0;
    margin: 0;
} /*Quita los espacios inecesarios*/
nav ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
} /*Quita los espacios inecesarios*/
.nav-container {
    margin-right: 100px; 
} /*Da el diseño*/
nav ul li {
    font-size: 1rem;
} /*Da el diseño*/

nav ul li a {
    color: #ffffff;
    font-family: sans-serif;
    text-decoration: none;
}
/* Se modifican los elementos del menú, dandoles color, forma, distancia, etc...*/


nav .dropdown {
    position: relative;
    cursor: pointer;
} /*Habilita el menú al pasar el cursor sobre la palabra menú*/

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffffff;
    min-width: 180px;
    padding: 0.5rem 0;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 0;
    transform: translateY(10px);
    z-index: 1;
} /*Da el diseño del menú desplegable*/

nav .dropdown:hover .dropdown-content {
    display: block;
    opacity: 1;
    transform: translateY(0);
} /*Da el diseño del menú desplegable*/

.dropdown-content li {
    list-style: none;
    text-align: center;
} /*Da el diseño del menú desplegable*/

.dropdown-content li a {
    color: #333;
    font-size: 0.9rem;
    padding: 0.75rem 1rem;
    display: block;
    transition: background-color 0.3s ease;
} /*Da el diseño del menú desplegable*/

.dropdown-content li a:hover {
    background-color: #f8f8f8;
    color: #555;
    border-radius: 5px;
} /*Da el diseño del menú desplegable*/

#comida {
    text-align: center;
} /*Da el diseño de la sección de comida*/
.imagenes {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
} /*Da el diseño de las imagenes de la sección de comida*/
.imagenes img {
    width: auto; 
    height: 250px;
} /*Da el diseño de las imagenes de la sección de comida*/
.imagen-con-texto {
    text-align: center;
} /*Da el diseño de las imagenes de la sección de comida*/
.imagen-con-texto p {
    margin-top: 8px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background-color: #131313; 
    padding: 10px 15px;
    border-radius: 8px; 
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    font-family: 'Arial', sans-serif;
}
/*Le dan formato a los productos destacados em la pagina de inicio*/


.footer {
    background: black;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    box-sizing: border-box;
    border-top: 2px solid #444;
} /*Da el diseño de la parte de abajo de la página*/

.footer-links {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
} /*Da el diseño de los enlaces de la parte de abajo de la página*/

.contactos {
    display: flex;
    justify-content: center;
    gap: 15px;
 
} /*Da el diseño de los contactos de la parte de abajo de la página*/

.contactos a {
    text-decoration: none;
    outline: none;
} /*Quita el subrayado de los enlaces*/

.contactos img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease;
} /*Da el diseño de las imagenes de los contactos, con su respectiva animación*/

.contactos img:hover {
    transform: scale(1.1);
} /*Da la animación al pasar el mouse por encima de las imagenes de los contactos*/

.footer-nav {
    display: flex;
    gap: 40px; /* Espacio entre los enlaces */
} /*Da el diseño de los enlaces de la parte de abajo de la página*/

.footer-link {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s ease;
} /*Da el diseño de los enlaces de la parte de abajo de la página (Nosotros y aviso de privacidad)*/

.footer-link:hover {
    color: #ccc; /* Color de hover para los enlaces */
} 

.informacion {
    width: 100%;
    text-align: center;
    border-top: 1px solid #444;
    padding-top: 20px;
    font-size: 13px;
    color: #ddd;
    line-height: 1.8;
} /*Da el diseño de la parte de abajo de la página*/

.footer-text {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #bbb;
    line-height: 1.6;
} /*Da el diseño de la parte de abajo de la página*/


.about-us {
    background-color: #f9f9f9;
    padding: 40px;
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Arial', sans-serif;
} /* Da el espacio entre la izquierda y el texto*/
.about-us h2 {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: #333;
    margin-bottom: 30px;
} /*Da el diseño del titulo de la página "Nosotros"*/
.about-text {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 20px;
    text-align: center;
} /*Da el diseño del texto de la página "Nosotros"*/
.about-us p {
    font-size: 1rem;
    line-height: 1.6;
    color: #555;
    text-align: justify;
    margin-bottom: 20px;
} /*Da el diseño del texto de la página "Nosotros"*/
.about-us strong {
    font-weight: bold;
    font-size: 1.1rem;
    color: #333;
} /*Da el diseño del texto de la página "Nosotros"*/
.last-paragraph {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: #e74c3c;
    margin-top: 40px;
}  /*Da el diseño del texto de la página "Nosotros"*/
.about-us p:last-child {
    margin-bottom: 0;
} /* Le da formato a la pagina "Nosotros"*/

.privacy-policy {
    background-color: #f9f9f9;
    padding: 40px;
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Arial', sans-serif;
} /* Le da formato a la pagina "Aviso de privacidad"*/

.privacy-policy h2 {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: #333;
    margin-bottom: 30px;
} /* Le da formato a la pagina "Aviso de privacidad"*/

.privacy-policy p {
    font-size: 1rem;
    line-height: 1.6;
    color: #555;
    text-align: justify;
    margin-bottom: 20px;
} /* Le da formato a la pagina "Aviso de privacidad"*/

.privacy-policy strong {
    font-weight: bold;
    font-size: 1.1rem;
    color: #333;
} /* Le da formato a la pagina "Aviso de privacidad"*/

.privacy-policy ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 20px;
}   /* Le da formato a la pagina "Aviso de privacidad"*/

.privacy-policy ul li {
    font-size: 1rem;
    color: #555;
    margin-bottom: 10px;
} /* Le da formato a la pagina "Aviso de privacidad"*/

.privacy-policy ul li::before {
    content: "•";
    color: #e74c3c;
    margin-right: 10px;
} /* Le da formato a la pagina "Aviso de privacidad"*/

.privacy-policy p:last-child {
    margin-bottom: 0;
} /* Le da formato a la pagina "Aviso de privacidad"*/


#contenido{
    width: 810px;
    margin: 0 auto;
} /*Centra el contenido de la página de incio*/
#pizza {
    display: flex;
    align-items: center; 
    gap: 1rem; 
} /*Da el diseño de la sección de pizzas*/

#imgPizza {
    width: 400px;
    margin-right: 5px;
    
} /*Da el diseño de la sección de pizzas*/
#DescPizza{
    margin: 15px;
} /*Da el diseño de la sección de pizzas*/

#Hamburguesas {
    display: flex;
    align-items: center; 
    gap: 1rem; 
} /*Da el diseño de la sección de hamburguesas*/

#imgeHamburguesa{
    width: 400px;
    margin-left: 5px;
} /*Da el diseño de la sección de hamburguesas*/
#DescHamburguesas{
    margin: 15px;
} /*Da el diseño de la sección de hamburguesas*/
#Bebidas{
    display: flex;
    align-items: center; 
    gap: 1rem; 
} /*Da el diseño de la sección de bebidas*/
#imgBebidas{
    width: 400px;
    margin-right: 5px;
} /*Da el diseño de la sección de bebidas*/
#DescBebidas{
    margin: 15px;
} /*Da el diseño de la sección de bebidas*/

.separacion{
    width: 100%;
    height: 10px;
    background: rgb(54, 54, 54);
} /*Separa las secciones de la página de inicio*/
#SecFachada {
    width: 100%;
    padding: 100px 0; 
    background: -webkit-linear-gradient(left, rgba(194,202,204,1) 0%, rgba(194,202,204,1) 37%, rgba(255,255,255,1) 37%, rgba(254,254,254,1) 100%);
    background: -o-linear-gradient(left, rgba(194,202,204,1) 0%, rgba(194,202,204,1) 37%, rgba(255,255,255,1) 37%, rgba(254,254,254,1) 100%);
} /*Da el diseño de la sección de la fachada*/

#FachadaContainer {
    width: 810px;
    margin: 0 auto; 
} /*Centra el contenido de la sección de la fachada*/

#Fachada {
    display: flex; 
    align-items: center; 
    gap: 1rem; 
} /*Da el diseño de la sección de la fachada*/

#imgFachada {
    width: 500px;
    margin-right: 5px; 
} /*Da el diseño de la sección de la fachada*/

#DescFachada {
    margin: 15px;
} /*Da el diseño de la sección de la fachada*/

.pizza-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
    padding: 20px;
} /*Da el diseño de la galería de comida a las distintas paginas*/

.pizza-item:hover {
    transform: scale(1.05);
} /*Da la animación al pasar el mouse por encima de las imagenes de la galería de comida*/
.pizza-item {
    width: 397px;
    height: 325px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} /*Da el diseño de las imagenes de la galería de comida*/
.pizza-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
} /*Da el diseño de las imagenes de la galería de comida*/

.pizza-price {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
} /*Da el diseño del precio de la galería de comida*/

.pizza-name {
    font-weight: bold;
    font-size: 22px;
    color: #333;
    margin-top: 10px;
} /*Da el diseño del nombre cada comida de la galería de comida*/


.pizza-item {
    width: 30%; /* Ajusta el ancho para que puedan caber 3 por fila */
    height: auto;
    text-align: left;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px; /* Ajusta el padding si es necesario */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pizza-description {
    font-size: 16px;
    color: #666;
    margin-top: 5px;
} /*Da el diseño de la descripción de la galería de comida*/

.pizza-extended-description {
    font-size: 14px;
    color: #555;
    margin-top: 10px;
    line-height: 1.5;
    text-align: justify;
    padding: 0 15px;
} /*Da el diseño de la descripción extendida de la galería de comida*/

.pizza-sizes {
    margin-top: 15px;
    font-size: 16px;
    color: #444;
    text-align: left;
} /*Da el diseño de los tamaños de la galería de comida*/

.size-list {
    list-style-type: none;
    padding: 0;
    text-align: left;
} /*Da el diseño de los tamaños de la galería de comida*/

.size-list li {
    margin: 5px 0;
    font-size: 16px;
    color: #333;
    list-style-type: none;
    position: relative;
    padding-left: 20px;
} /*Da el diseño de los tamaños de la galería de comida*/

.size-list li::before {
    content: "•";
    color: #e74c3c;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 10px;
} /*Da el diseño de los tamaños de la galería de comida*/

h2 {
    margin: 20px 0;
    font-family: sans-serif;
} /*Da el diseño de los titulos de las distintas paginas*/
p{
    font-family: sans-serif;
} /*Coloca un tipo de letra especifico para todos los parrafos*/